<h3>編輯產品</h3>
<%
=begin%>
 <%= form_tag(product_path(@product), method: :put) do %>
    <label>
        product name
        <input type="text" name="name" value="<%= @product.name %>" />
    </label>
    <br/>
    <label>
        description
        <input type="text" name="description" value="<%= @product.description %>" />
    </label>
    <br/>
    <label>
        path
        <input type="text" name="img_path" value="<%= @product.image_path %>" />
    </label>
    <br/>
    <label>
        price
        <input type="text" name="price" value="<%= @product.price %>" />
    </label>
    <br/>
    <button>
        submit
    </button>
<% end %> 
<%
=end%>

<%= form_for @product, method: :put do |p|%>
    <%= p.label :name, "名稱" %>
    <%= p.text_field :name %>
    <br />

    <%= p.label :description, "產品敘述" %>
    <%= p.text_field :description %>
    <br />

    <%= p.label :image_path, "圖片路徑" %>
    <%= p.text_field :image_path %>
    <br />

    <%= p.label :price, "定價" %>
    <%= p.text_field :price %>
    <br />

    <%= p.submit "更新" %>
<% end %>
